<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui">
	<meta meta name="HandheldFriendly" content="true">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">
  
	<title><%= title %></title>

	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<script src="//cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.7.7/babel.min.js"></script>

	<% if ( debug === false ) { %>
	<link type="text/css" rel="stylesheet" media="all" href="css/app.<%= version %>.css" />
	<% } else { %>
	<div style="height:1em; background-color:#000; color:#FFF;">Dev <%= title %> (<%= version %>/<%= process.env.APP_HASH %>)</div>
	<% } %>
</head>
<body>
	<h2><%= title %> sandbox</h2>

	<!-- <date-elem class="sandbox"></date-elem> -->
	<h3>&lt;x-base&gt;</h3>
	<x-base>
		<strong>Hi, I'm <em>x-base</em></strong>
		<p>which is pretty boring</p>
	</x-base>
	
	<hr>

	<h3>&lt;key-val&gt;</h3>
	<key-val key="poop" val="anus">
		<strong>Hi, I'm <em>key-val</em></strong>
	</key-val>
	
	<hr>

	<h3>&lt;x-projection&gt;</h3>
	<x-projection data='{"name": "Dan", "age": "32", "balls": {"left": "big and juicy", "right": "huge and dripping wet"}, "osdfghe": "eate4t" }'><style>x-projection .age { color: purple; }</style></x-projection>

	<hr>

	<h3>&lt;remote-*&gt;</h3>
	<remote-controller resource="ec2-52-35-23-159.us-west-2.compute.amazonaws.com/trackers" actions="*" class="sandbox">
		<h4 class="blink">Prease waiting...</h4>
	</remote-controller>
	<remote-item resource="ec2-52-35-23-159.us-west-2.compute.amazonaws.com/trackers" id="309b57d99558d972" actions="read balls" class="sandbox">
		<h4 class="blink">Prease waiting...</h4>
	</remote-item>

	<hr>

	<h3>app</h3>
	<div id="app"></div>

	<template for="users"> <!-- for user[s] controller -->
		<section data-id="haniel"> <!-- resource id -->
			<!-- resource properties -->
			<img data-bind="image" src="http://placehold.it/50x30/aa4477/00033f?text=ballzes">
			<em data-bind="username" class="blink">roading...</em>
			<span>
				<p data-bind="trackers"></p>
				<i data-bind="flaargen"></i>
			</span>
		</section>
	</template>

	<script src="js/app.<%= version %>.js"></script>

<!-- 
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous" async></script>
-->
</body>
</html>
